DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost/koremobile_db
REDIS_URL=redis://localhost:6379/0

SECRET_KEY=your_sec_key_here
ADMIN_SECRET_KEY=your_admin_sec_key_here

ENCRYPTION_KEY=your_encryption_key_here
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_HOURS=24
ADMIN_TOKEN_EXPIRE_HOURS=12

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_smtp_user@gmail.com
SMTP_PASSWORD=your_smtp_password
OWNER_EMAIL=your_owner_email@gmail.com

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

# Cashfree credentials
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
CASHFREE_ENV=sandbox



# iThinkLogistics
# Get access_token and secret_key from your ITL account manager
ITL_BASE_URL=https://pre-alpha.ithinklogistics.com
ITL_ACCESS_TOKEN=your_itl_access_token
ITL_SECRET_KEY=your_itl_secret_key
# Get these IDs from ITL dashboard → Warehouses section
ITL_PICKUP_ADDRESS_ID=yourpickup_address_id
ITL_RETURN_ADDRESS_ID=your_return_address_id
ITL_PICKUP_PINCODE=your_pickup_pincode
# Use staging URL for testing, production URL when going live:
# Staging:    https://pre-alpha.ithinklogistics.com
# Production: https://my.ithinklogistics.com

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

SITE_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
BACKEND_URL=http://127.0.0.1:8000
